body{
    margin: 0px;
    
    background-color:#D4A373 ;
}
.body{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: "menu game";
    grid-template-rows: 100vh;
}
#menu{
    grid-area: menu;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#game{
    grid-area: game;
}
#hp h1{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px;

    width: 100px;
    height: 100px;
    background-color: #CCD5AE;
    border-radius: 15px;
}
#hp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 20px;
    
    width: 140px;
    height: 260px;
    
    background-color: #FAEDCD;
    border: #D0B49F solid 5px;
    border-radius: 20px;
}

#game{
    padding: 50px;
}
#content{
    width: 90%;
    height: 613px;
    padding: 25px;
    border: #D0B49F solid 10px;
    border-radius: 45px;
    background-color: #FAEDCD;
    
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 400px 213px;
    grid-template-areas: "flag name" "input check";
}

#flag{
    height: 300px;
    align-self: center;
    justify-self: center;
}
#name{
    text-align: center;
    align-self: center;
}
#inp{
    align-self: center;
    justify-self: center;
    height: 80px;
    width: 400px;
    border-radius: 100px;
    text-align: center;
    font-size: 300%;
}
#check{
    align-self: center;
    justify-self: center;
    height: 80px;
    width: 200px;
    border-radius: 100px;
    font-size: 200%;
}
.go{
    font-size: 400%;
    align-self:  center;
    justify-self: center;
    width: 100%;
    text-align: center;
    margin-top: 50vh;
}
.p{
    font-size: 300%;
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.br{
    width: 140px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.b0{
    background-color: #F3E7E4;
}
.b1{
    background-color: #93ff96;
}
#playBT{
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 100px;
    font-size: 300%;
}
.st{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    cursor: pointer;
}